[submodule "roles/cassandra"]
	path = roles/cassandra
	url = git@github.com:Kami/ansible-cassandra.git
[submodule "roles/postgresql"]
	path = roles/postgresql
	url = git@github.com:Kami/ansible-postgresql.git
[submodule "roles/memcached"]
	path = roles/memcached
	url = git@github.com:Kami/ansible-memcached.git
[submodule "roles/redis"]
	path = roles/redis
	url = git@github.com:Kami/ansible-redis.git
