# {{ ansible_managed }}
from configs.settings import *

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql_psycopg2',
        'NAME': '{{ project.database.name }}',
        'USER': '{{ project.database.user }}',
        'PASSWORD': '{{ project.database.password }}',
        'HOST': '{{ project.database.host }}',
        'PORT': '{{ project.database.port }}',
        'OPTIONS': {
            'autocommit': True,
        }
    }
}

# Google Oauth settings
OAUTH_REDIRECT_URL = 'https://mailytics.info/oauth2/callback'
CLIENT_SECRETS_FILE = '{{ project.root }}/private/client_secrets.json'

# Token storage service settings
TOKEN_STORAGE_SERVERS = [
    'https://localhost:7979'
]

TOKEN_STORAGE_CA_CERT = '{{ project.root }}/private/ca.crt'
TOKEN_STORAGE_CLIENT_CERT = '{{ project.root }}/private/client.crt'
TOKEN_STORAGE_CLIENT_KEY = '{{ project.root }}/private/client.key'
