[program:mailytics_webapp_prod_uwsgi]
command={{ project.root }}/virtualenv/bin/uwsgi --ini /var/www/domains/coachspree.com/releases/current/coachspree/configs/production/uwsgi.ini

environment=PYTHONPATH='{{ project.root }}/webapp',PATH='{{ project.root }}/virtualenv/bin:/usr/local/bin:/usr/local/sbin:/usr/sbin:/bin:/sbin'
directory={{ project.root }}/webapp

user={{ project.user }}
numprocs=1
stdout_logfile={{ project.root }}/logs/uwsgi.log
stderr_logfile={{ project.root }}/logs/uwsgi.log
autostart=true
autorestart=true
