[program:mailytics_token_storage_set_service]
command={{ project.root }}/virtualenv/bin/python {{ project.root }}/code/bin/token-storage-set-server {{ project.service_args }}

environment=PYTHONPATH='{{ project.root }}/code',PATH='{{ project.root }}/virtualenv/bin:/usr/local/bin:/usr/local/sbin:/usr/sbin:/bin:/sbin'
directory={{ project.root }}/code

user={{ project.user }}
numprocs=1
stdout_logfile={{ project.root }}/logs/token_storage_set.log
stderr_logfile={{ project.root }}/logs/token_storage_set.log
autostart=true
autorestart=true
[program:mailytics_token_storage_get_service]
command={{ project.root }}/virtualenv/bin/python {{ project.root }}/code/bin/token-storage-get-server {{ project.service_args }}

environment=PYTHONPATH='{{ project.root }}/code',PATH='{{ project.root }}/virtualenv/bin:/usr/local/bin:/usr/local/sbin:/usr/sbin:/bin:/sbin'
directory={{ project.root }}/code

user={{ project.user }}
numprocs=1
stdout_logfile={{ project.root }}/logs/token_storage_get.log
stderr_logfile={{ project.root }}/logs/token_storage_get.log
autostart=true
autorestart=true
